body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5e6d8;
  }
  .select-city{
    width: 400px;
    height: 150px;
    margin-left: 595px;
  }
  .navi:hover{
    color: #e74c3c;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
  }
  .header .logo {
    font-size: 31px;
    font-weight: bold;
  }
  .header .logo img{
    width: 190px;
    height: 60px;
  }
  .btn:hover{
    box-shadow: 10px 10px 20px rgb(184, 116, 116);
  }
  .header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
  }
  .header .icons a {
    margin: 0 10px;
    color: #000;
  }
  
  .hero {
    text-align: center;
    padding: 50px 20px;
  }
  .hero h1 {
    font-size: 48px;
    color: #000;
  }
  .hero h1 span {
    color: #e74c3c;
  }
  .hero p {
    font-size: 18px;
    color: #666;
    margin: 20px 0;
  }
  .hero .btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .subscribe-newsletter {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
  }
  .subscribe-newsletter h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .subscribe-newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  .subscribe-newsletter .btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
  }
  .footer p {
    font-size: 14px;
    color: #666;
  }