
body {
    font-family: Arial, sans-serif;
    background: url('images/orderbg.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.booking-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.booking-form h2 {
    color: #ff6600;
    margin-bottom: 20px;
}
.booking-form input[type="text"],
.booking-form input[type="number"],
.booking-form input[type="text"],
.booking-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking-form button {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.booking-form button:hover {
    background-color: #e65c00;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}